body{
    background-color: black;
}

 

#titlep{
    text-align: center;
    color: whitesmoke;
    height: 100px;
 
}
.title{
    text-align: center;
}
.respuesta1{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
   
}
.pregunta1{
    background-color: ghostwhite;
    margin: 15px;
}
#tablajs{
    text-align: center;
    width: auto;
    height: auto;
    display: grid;
}
#tablajs2{
    text-align: center;
    width: auto;
    height: auto;
    display: grid;
}
.respuesta2{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
}
.pregunta2{
    background-color: ghostwhite;
    margin: 15px;
}
.respuesta3{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
}
.pregunta3{
    background-color: ghostwhite;
    margin: 15px;
}
.respuesta4{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
}
.pregunta4{
    background-color: ghostwhite;
    margin: 15px;
}
.respuesta5{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
}
.pregunta5{
    background-color: ghostwhite;
    margin: 15px;
}
.respuesta6{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
}
.pregunta6{
    background-color: ghostwhite;
    margin: 15px;
}
.respuesta7{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
}
.pregunta7{
    background-color: ghostwhite;
    margin: 15px;
}
.respuesta8{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
}
.pregunta8{
    background-color: ghostwhite;
    margin: 15px;
}
.respuesta9{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 35px;
    width: auto;
    height: auto;
    display: grid;
}
.pregunta9{
    background-color: ghostwhite;
    margin: 15px;
}
.logo{
    justify-content: center;
    width: auto;
    height: auto;
    display: grid;
}
#tabla3{
    width: auto;
    height: auto;
    display: grid;
}
