body{
    background-color: gold;
}
#container{
 
}
#titlep{
    text-align: center;
 
}
.title{
    text-align: center;
}
.respuesta1{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-align: center;
    line-height: 50px;
}
.pregunta1{
    background-color: ghostwhite;
    margin: 15px;
}
#tablajs{
    text-align: center;
    width: auto;
    height: auto;
    display: grid;
}
#tablajs2{
    text-align: center;
    width: auto;
    height: auto;
    display: grid;
}