body{
    background-color: gold;
}
#container{
 
}
#titlep{
    text-align: center;
 
}
.respuesta{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
}
.pregunta{
    background-color: ghostwhite;
    margin: 15px;
}